%h1 Example of browser Gem
%br
%strong
  browser.name
= browser.name
%br
%strong
  browser.version
= browser.version
%br
%strong
  browser.full_version
=browser.full_version
%br
%strong
  browser.safari?
=browser.safari?
%br
%strong
  browser.opera?
=browser.opera?
%br
%strong
  browser.chrome?
=browser.chrome?
%br
%strong
  browser.chrome_os?
=browser.chrome_os?
%br
%strong
  browser.mobile?
=browser.mobile?
%br
%strong
  browser.tablet?
=browser.tablet?
%br
%strong
  browser.console?
=browser.console?
%br
%strong
  browser.firefox?
=browser.firefox?
%br
%strong
  browser.ie?
=browser.ie?
%br
%strong
  browser.ie6? 
=browser.ie6? 
%br
%strong
  browser.modern?
=browser.modern?
%br
%strong
  browser.platform
=browser.platform
%br
%strong
  browser.mac?
=browser.mac?
%br
%strong
  browser.windows?
=browser.windows?
%br
%strong
  browser.windows_x64?
=browser.windows_x64?
%br
%strong
  browser.linux?
=browser.linux?
%br
%strong
  browser.blackberry?
=browser.blackberry?
%br
%strong
  browser.bot?
=browser.bot?
%br
%strong
  browser.search_engine?
=browser.search_engine?
%br
%strong
  browser.phantom_js?
=browser.phantom_js?
%br
%strong
  browser.quicktime?
=browser.quicktime?
%br
%strong
  browser.core_media?
=browser.core_media?
%br
%strong
  browser.silk?
=browser.silk?
%br
%strong
  browser.known?
=browser.known?
%br
%strong
  browser.meta
=browser.meta
%br
%strong
  browser.to_s  
=browser.to_s  
%br
%br
%br
for more info about this gem look at 
= link_to 'https://github.com/fnando/browser', 'https://github.com/fnando/browser', tatget: '_blank'

%br
%br
to see how this demo is build go to 
= link_to 'https://github.com/mzaragoza/browserdomo', 'https://github.com/mzaragoza/browserdomo', tatget: '_blank'

